<% content_for(:title) { 'About' } %>
<h1>About Ruby Gardens</h1>

<h4>О нас</h4>

<p>RubyGardens является сетью центров обучения, которые предоставляют возможность опытным разработчикам, владеющим различными языками программирования, пройти интенсивную переподготовку и стать Ruby девелопером.
Уже к этому абзацу будущим рубистам должно было наскучить читать информацию с налетом официоза, посему продолжим в более привлекательной манере. Если завтра вы проснетесь и решите, что Ruby является вашим призванием на ближайшие 50 лет, то прежде всего стоит начать со знакомства с людьми, с которыми вы, к гадалке не ходи, столкнетесь в первую очередь.
</p>
