<% content_for(:title) { 'Home' } %>
<h1>Welcome to Ruby Gardens Home</h1>

<h4>Do IT Ruby Way!</h4>
<p>
  Приглашаем на курсы по Ruby on Rails! Осенний призыв на курсы RubyGardens стартует уже в сентябре, а это значит,
  что у всех желающих снова появляется возможность ступить на Ruby Way. RubyGardens позволяет в сжатые сроки переучиться
  на Ruby on Rails с любого языка web-разработки, а также получить полноценное обучение тем, кто только начинает свою профессиональную деятельность.
</p>

<h4>На кого рассчитан курс?  </h4>
<p>
  Мы приглашаем разработчиков, интересующихся Ruby on Rails, готовых в ближайшее время работать с данной технологией. Увлеченность и самостоятельное «копание» приветствуется!
  Впервые для участия в проекте приглашаются студенты 4-5 курсов технических ВУЗов!
  Предпочтение отдается кандидатам уже имеющим опыт web-разработки, со знанием английского языка не ниже Intermediate.
</p>

<iframe width="560" height="315" frameborder="0" src="http://www.youtube.com/embed/B591S_C16V4?rel=0">
</iframe>

<h4>При чем здесь Altoros?</h4>

<p>RubyGardens – внутренний образовательный проект компании Altoros. Почему мы «растим» Ruby-разработчиков?

1. Потому что в Altoros работает одна из самых крупных в Беларуси команда Ruby-разработчиков. Средний опыт работы в сфере IT у сотрудников отдела – 6 лет. 85% разработчиков – это специалисты Senior и Lead уровня.

2. Потому что Altoros участвует в Ruby-проектах компаний с мировым именем (RightScale, Shoedazzle, Couchbase и другие), что дает возможность получения уникального опыта работы, профессионального и карьерного роста.

3. Потому что мы любим Ruby, поддерживаем сообщество Ruby-разработчиков Беларуси и делаем все для развития данной технологии в нашей стране.

Данный набор – уже третий в RubyGardens. Сегодня наши выпускники работают на крупных проектах ведущих технологических компаний и строят успешную карьеру. Именно так все и получилось у Вадима Голуба, прошедшего у нас курс обучения прошлой зимой.
</p>

